# Docker compose file for services used in development.
# If you're using the .devcontainer, you don't need to use this.
services:
  redis:
    image: docker.io/library/redis:8-alpine
    command: redis-server --save 60 1 --loglevel warning
    ports:
      - '6379:6379'
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
