= render partial: 'nav', locals: { tab: :bio }

- unless @person.bio.blank?
  .row.mt-3
    .col-12.col-lg-8.offset-lg-2.serif.person-bio
      = markdown @person.bio

.row.mt-3
  %table.table.table-borderless.table-hover.table-striped
    - for event in @events
      = render partial: 'event', locals: { event: event }