= render partial: 'nav', locals: { tab: :bio }

.row.flex-row-reverse
  - unless @person.bio.blank?
    .col-12.col-lg-8.serif.person-bio.mb-4
      %h4= @person.title
      = @person.bio

  .col-12.col-lg-4
    %table.table.table-borderless.table-hover.table-striped
      - for event in @events
        = render partial: 'event', locals: { event: event }
