<tr>
  <td class="w-25"><%= event.date_string %></td>
  <td>
    <div class="person-event-title"><%= event.title %></div>

    <% if event.location %>
    <div class="person-event-location"><%= event.location %></div>
    <% end %>
  </td>
</tr>