@import '~bootstrap/scss/bootstrap';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import '../src/stylesheets/tag_list_field';
@import '../src/stylesheets/advanced_date_field';

.img-preview {
  max-width: 200px;
}

.img-form-file {
  margin-top: 0.5rem;
}
