<div class="col-lg-6 offset-lg-3 col-sm-12 search-results md-2 mt-4">
  <% @results.each do |d| %>
    <%= render partial: 'shared/search_doc', locals: { doc: d }  %>
  <% end %>
  
  <%== pagy_bootstrap_nav(@pagy) %>
  
  <div class="total-results">
    <i>Total results: <%= @total_results %></i>
  </div>
</div>