<div class="col-lg-6 offset-lg-3 col-sm-12 search-results md-2 mt-4">
  <% @results.each do |d| %>
    <%
      doc = d.searchable if d.respond_to?(:searchable)
      doc = d.taggable if d.respond_to?(:taggable)
    %>
    <%= render partial: 'shared/search_doc', locals: { doc: doc } %>
  <% end %>

  <%== @pagy.series_nav(:bootstrap) %>

  <div class="total-results">
    <i><%= t('search.total_results', total: @total_results) %></i>
  </div>
</div>
