<div class="row mt-3">

<div class="col-md-4 text-center">
  <img class="img-fluid" src="<%= @user.profile_image(200) %>">

  <% if current_user && current_user.id == @user.id %>
    <div>
      <%= link_to 'Edit profile', edit_user_registration_path %>
    </div>
  <% end %>
</div>

<div class="col-md-8">

  <h1><%= @user.name %></h1>

  <p>The things you do will show up here.</p>

</div>

</div>