<div class="text-center">  
  <h1 class="display-4">geneac</h1>
  <i class="lead">Genealogy for brainiacs!</i>
</div>

<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
    <div class="recent-updates mt-5">
      <h2 class="text-center">Recent Updates</h2>
      <% @recent_updates.each do |recent_update| %>
        <div class="update mb-1">
          <b><%= link_to recent_update[:title], recent_update[:model] %></b><br/>
          <em><%= recent_update[:updated_at] %></em>
        </div>
      <% end %>
    </div>
  </div>
</div>