.person-cover-image {
  position: relative;
  height: 260px;
  top: -10px;
  background-size: cover;
  background-position: center;
  filter: blur(5px) grayscale(70%);
  z-index: -1;
}

.person-container {

  .row {
    position: relative;
    top: -80px;
  }

  :not(.photo) {
    h2 {
      color: white;
    }
    @supports (-webkit-text-stroke: 1px black) {
      h2 {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
      }
    }
  }

  .name-header {
    text-align: center;

    .main-photo {
      position: relative;
      top: -20px;
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 100px;
      border: 1px solid black;
      padding: 5px;
      background-color: white;
    }
  }
}

.family-tile {
  width: 150px;
  margin: 1rem;

  .photo img {
    max-width: 100px;
    border-radius: 50px;
    object-fit: cover;
  }

  .name p {
    margin-bottom: 0;
  }
}
