.page-background {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url('../../../images/bg_lonelytree.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(5px) grayscale(70%);

    z-index: -1;
  }

  position: relative;

  height: 100%;
  min-height: 90vh;
}

.search-bar-opacity input {
  opacity: 65%;
}
