// External stylesheets
@import '~bootstrap/scss/bootstrap';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Other stylesheet files
@import './flashes';
@import './home';

// Local styles

$font-primary: black;
$secondary: #c9c9c9;

.serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}

a.tag {
  text-decoration: none;
  color: $font-primary;
  background-color: $secondary;
  font-size: small;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $font-primary;
    opacity: 0.8;
  }

  &:visited {
    color: $font-primary;
  }
}

.thumbnail-grid {
  .thumbnail {
    max-width: 31%;
  }
}
