<%
#  Advanced Date Field
%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field advanced-date-field">
  <%= f.text_field field.attribute, class: 'date-val'  %>
  <div class="help-text" data-unknown="unknown" data-parsed="Parsed as: ">
  </div>
</div>
