<%
#  Advanced Date Field
%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field" data-controller="advanced-date-field">
  <%= f.text_field field.attribute, data: {'advanced-date-field-target': 'value', action: 'advanced-date-field#parseDate'} %>
  <div class="help-text" data-advanced-date-field-target="help" data-unknown="unknown" data-parsed="<%= t('admin.advanced_date.parsed_as') %>">
  </div>
</div>
