<div class="thumbnail-grid d-flex flex-wrap">
<% for photo in photos %>
  <div class="thumbnail m-1">
    <a href="<%= photo_path(photo) %>">
      <%= image_tag url_for(photo.image), class: 'img-fluid border rounded p-1' %>
    </a>
  </div>
<% end %>
</div>