<% @title = @photo.title %>

<div class="row">
  <div class="border rounded my-3 mx-1">
    <div class="col-lg-8 offset-lg-2 col-md-12 py-3">
      <%= image_tag @photo.image, class: 'img-fluid' %>
    </div>

    <div class="col-lg-8 offset-lg-2 col-md-12 py-2">
      <h3 class="text-center"><%= @photo.title %></h3>
      <hr>
      <p><%= @photo.description %></p>
    </div>
  </div>
</div>