<div class="row">
  <div class="col-lg-6 col-md-12">
    <%= image_tag @photo.image, class: 'img-fluid' %>
  </div>

  <div class="col-lg-6 col-md-12">
    <h3 class="text-center"><%= @photo.title %></h3>
    <p><%= @photo.description %></p>
  </div>
</div>