@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;

  color: #444;
  padding: 0 10px;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}
.link-head {
  text-decoration: none;
}

div.screenshots {
  display:flex;
}

div.screenshot {
  max-width: 300px;
  text-align: center;
  margin: 1rem;
}

img.thumb {
  width: 100%;
}
