<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field" data-controller="completable-field">
  <%= f.text_area field.attribute, { data: { 'completable-field-target': 'value', suggestions: field.suggestion_url } } %>
</div>
