<%
# Person field
%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field" data-controller="person-field" data-person-field-target="value">
  <%= f.hidden_field field.attribute, value: field.data, class: 'person-field-id' %>
  <div class="person-field-selected" style="display: none">
    <span class="name"></span>
    <span class="close">X</span>
  </div>
  <input type="text" autocomplete="off" class="person-field-search">
</div>
