// Below are modifications to the stock actiontext code above
action-text-attachment {
  figcaption {
    opacity: 0%;
    transition: opacity 500ms ease-in-out 300ms;
  }
  .attachment:hover figcaption {
    opacity: 100%;
  }
}
