@import 'bootstrap/scss/bootstrap';

@import '**/*';

@import 'font-awesome-sprockets';
@import 'font-awesome';

// Local styles

$font-primary: black;
$secondary: #c9c9c9;

.serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a.tag {
  text-decoration: none;
  color: $font-primary;
  background-color: $secondary;
  font-size: small;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $font-primary;
    opacity: 0.8;
  }

  &:visited {
    color: $font-primary;
  }
}

.thumbnail-grid {
  .thumbnail {
    max-width: 31%;
  }
}

.frosted-background {
  background-color: rgba(255, 255, 255, 0.75);
}
