@import '**/*';

.serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a.tag {
  text-decoration: none;
  color: black;
  background-color: #c9c9c9;
  font-size: small;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: black;
    opacity: 0.8;
  }

  &:visited {
    color: black;
  }
}

.thumbnail-grid {
  .thumbnail {
    max-width: 31%;
  }
}

.frosted-background {
  background-color: rgba(255, 255, 255, 0.75);
}
